@model PruebaCreditos.Modelos.Credito

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Credito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoCredito" class="control-label"></label>
                <input asp-for="TipoCredito" class="form-control" value="CREDEXPRES" readonly/>
                <span asp-validation-for="TipoCredito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazo" class="control-label"></label>
                <input asp-for="Plazo" class="form-control" />
                <span asp-validation-for="Plazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tasa" class="control-label"></label>
                <input asp-for="Tasa" class="form-control" value="12" readonly/>
                <span asp-validation-for="Tasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAmortizacion" class="control-label"></label>
                <input asp-for="TipoAmortizacion" class="form-control" value="Alemana" readonly/>
                <span asp-validation-for="TipoAmortizacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClientesId" class="control-label"></label>
                <select asp-for="ClientesId" class ="form-control" asp-items="ViewBag.ClientesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
